@import "./uikit/index";

.titlePrincipal{
    color:#e41c43; 
    margin:0!important; 
    font-weight:bolder; 
    text-align:center; 
    margin-top:1em !important;
    margin-bottom: 1em !important;
}

.titleSecondary{
    color:#ffffff; 
    margin:0!important; 
    font-weight:bolder; 
    text-align:center; 
    padding-top:1em;
    margin-bottom: 1em !important;
}